<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <%- include('head'); %>
</head>

<body>
    <%- include('menu'); %>
        <div class="container">
            <br>
            <h2>Listagem dos Filmes</h2>
            <thead>
                <tr>
                    <th>Nome do Filme</th>
                    <th>Diretor</th>
                    <th>Ano</th>
                </tr>
            </thead>
            <tbody>
                <% dadosFilme.forEach(function(dados) { %>
                    <tr>
                        <td>
                            <%= dados.nomeFilme %>
                        </td>
                        <td>
                            <%= dados.diretor %>
                        </td>
                        <td>
                            <%= dados.ano %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
            </table>
        </div>
</body>

</html>